<% provide(:title, 'Our Team') %>
<div class="well">
  	<center><h1>All Users</h1></center>
</div>
<table class="table table-striped">
	<thead>
		<th>Name</th>
		<th>Title</th>
		<th>Team</th>
	</thead>

	<tbody>
		<%= render @users %>
	</tbody>
</table>