<% provide(:title, @user.name) %>
<table class="table table-striped">
	<thead>
		<th>Name</th>
		<th>Email</th>
		<th>Title</th>
		<th>Team</th>
	</thead>
	<tbody>
		<td><%= @user.name %></td>
		<td><%= @user.email %></td>
		<td><%= @user.title %></td>
		<td><%= link_to @user.team.name, @user.team %></td>
	</tbody>
</table>
