<div class="row">
    <div class="span6">
		<%= simple_form_for(@client, :html => { class: 'form-horizontal' }) do |f| %>
		  <%= f.input :name %>
		  <%= f.button :submit, label: 'Update', class: "btn btn-primary" %>
		<% end %>

	</div>
</div>