<% provide(:title, 'Add Client') %>
<h1>Add a New Client</h1>
    <%= simple_form_for(@client) do |f| %>
    	<%= f.input :name %>
  	  <div class="well">
      	<%= f.button :submit, label: 'Add', class: "btn btn-primary" %>
    	<% end %>
    </div>