<% provide(:title, 'Locations') %>
<h1>Locations</h1>
<p>
  Stamford, CT (HQ)</br></br>
  New York City, NY</br>
  San Francisco, CA</br>
  Los Angeles, CA</br>
  Washington, DC</br>
  Orlando, FL</br>
</p>